<html>
<head th:replace="~{base :: head}">
<meta charset="UTF-8" />
</head>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		<div th:replace="~{base :: titulo('Cadastrar novo usuário')}"></div>

		<div class="card mt-3">
			<form th:action="@{/usuario/novo}"
				th:object="${requisicaoNovoUsuario}" class="card-body" method="post">
				
				
				<div class="row">
						<div class="col">
						
							<div class="form-group p-2">
								<label> 
									Selecione uma empresa: 
									<select class="form-control" th:field="*{empresa}">
										<option th:each="empresa : ${empresas}" th:value="${{empresa}}" th:text="${empresa.nome}"></option>
									</select>
			
									<div class="invalid-feedback" th:errors="*{empresa}">Erro ao
										selecionar Empresa, tente novamente!</div>
								</label>
							</div>
						
						
						</div>
						<div class="col">
						
							<div class="form-group p-2">
								<label> Grupo de acesso (Roles): <br> <input class=""
									type="checkbox" name="role" th:each="role : ${roles}"
									th:text="'&ensp;' + ${role.roleName} + '      &emsp;     '"
									th:value="${role.id}" th:field="*{role}" />
								</label>
							</div>
						
						</div>
				</div>
				<div class="row">
						<div class="col">
						
							<div class="form-group p-2">Usarname:
	
								<input th:field="*{username}" th:errorclass="is-invalid"
									class="form-control" placeholder="Username" />
			
								<div class="invalid-feedback" th:errors="*{username}">Erro no
									Username, favor tentar outra combinação!</div>
							</div>
						
						
						</div>
						<div class="col">
						
							<div class="form-group p-2">Senha:
			
								<input th:field="*{password}" th:errorclass="is-invalid"
									class="form-control" placeholder="Password" type="password" />
			
								<div class="invalid-feedback" th:errors="*{password}">Erro
									com a Password digitada, tente novamente!</div>
							</div>
						
						</div>
				</div>
				<div class="row">
						<div class="col">
						
							<div class="form-group p-2">Nome:
	
								<input th:field="*{nome}" th:errorclass="is-invalid"
									class="form-control" placeholder="Nome" />
			
								<div class="invalid-feedback" th:errors="*{nome}">Erro com o
									Nome digitado, tente novamente!</div>
							</div>
						
						</div>
						<div class="col">
						
							<div class="form-group p-2">E-mail:

								<input th:field="*{email}" th:errorclass="is-invalid"
									class="form-control" placeholder="E-mail" />
			
								<div class="invalid-feedback" th:errors="*{email}">Erro com o
									E-mail digitado, tente novamente!</div>
							</div>
						
						</div>
				</div>
				<div class="row">
						<div class="col">
						
							<div class="form-group p-2">Telefone:
	
								<input th:field="*{fone}" th:errorclass="is-invalid"
									class="form-control" placeholder="Telefone/WhatsApp" />
			
								<div class="invalid-feedback" th:errors="*{fone}">Erro com o
									numero de telefone digitado, tente novamente!</div>
							</div>
						
						
						</div>
						<div class="col">
						
							<div class="form-group p-2">CEP:

								<input th:field="*{cep}" th:errorclass="is-invalid"
									class="form-control" placeholder="CEP" />
			
								<div class="invalid-feedback" th:errors="*{cep}">Erro com o
									CEP digitado, tente novamente!</div>
							</div>
							
						
						</div>
				</div>
				<div class="row">
						<div class="col">
						
							<div class="form-group p-2">Cidade:

								<input th:field="*{cidade}" th:errorclass="is-invalid"
									class="form-control" placeholder="Cidade" />
			
								<div class="invalid-feedback" th:errors="*{cidade}">Erro com
									a Cidade digitada, tente novamente!</div>
							</div>
						
						</div>
						<div class="col">
						
							<div class="form-group p-2">Estado:

								<input th:field="*{estado}" th:errorclass="is-invalid"
									class="form-control" placeholder="Estado" />
			
								<div class="invalid-feedback" th:errors="*{estado}">Erro com
									o Estado digitada, tente novamente!</div>
							</div>
						
						</div>
						<div class="col">
						
							<div class="form-group p-2">Pais:

								<input th:field="*{pais}" th:errorclass="is-invalid"
									class="form-control" placeholder="País" />
			
								<div class="invalid-feedback" th:errors="*{pais}">Erro com o
									País digitada, tente novamente!</div>
							</div>
						
						
						</div>
				</div>
				<div class="row p-2">
						<div class="col">
						
							<button class="btn btn-primary" type="submit">Salvar</button>
						
						</div>
						
				</div>
				


				




				
			</form>
		</div>
	</div>
</body>
</html>